//item
.item {
  .icon-drag {
    font-size:x-large;
  }
  .text{
    width:100%;
    text-overflow: ellipsis;
    border:none;
  }
  .text:focus{
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 2px; 
  }
  .text:hover{
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 2px;  
  }
  .avatar{
    width:30px;
    height:30px;
    font-size:x-large;
    font-weight: bolder;
  }
  .date-display{
    float:left;
  }
  .icon-calendar{
    font-size:x-large;
    font-weight: bolder;
  }
  .complete-true{
    text-decoration: line-through;
  }
}

.list{
  .panel{
    border:none;
  }
  .panel-heading{
    background-color:inherit;
    border:none;
  }
  .archived{
  }
  .add-button{
    -webkit-box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 3px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 3px 2px 0px rgba(50, 50, 50, 0.75);
    padding: 1px;
    margin-right: 1rem;
  }
  .add-item-text{
    margin-left: 1rem;
  }
}

.todo{
  .selected-true{
    background-color: rgb(51, 51, 51);
    color: #FFF;  
  }
  button:focus{
    outline:none;
  }
}
