//item
.item {
  .icon-drag {
    font-size:x-large;
    font-weight: bolder;
  }
  .avatar{
    width:25px;
    height:25px;
  }
  .icon-calendar{
    font-size:x-large;
    font-weight: bolder;
  }
}

.list{
  .archived{
  }
}
