//item
.item {
  .icon-drag {
    font-size:x-large;
    font-weight: bolder;
  }
  .avatar{
    width:30px;
    height:30px;}
  .date-display{
    float:left;
  }
  .icon-calendar{
    font-size:x-large;
    font-weight: bolder;
  }
}

.list{
  .archived{
  }
}
